{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true
  }
}
