# Ignore build artifacts if they're present
dist*
katherine-anne.zip

# Ignore fixtures
ansible/data*

# Ignore some dependencies
src/img/porter_demo_cover*
**/kap_functions.php
**/kap-query-templates.zip

# npm dependency directory
node_modules
