// scss-lint:disable PlaceholderInExtend

.empty-search,
.search-total-count {
  color: $gray-light;
  display: none;
  margin: auto;
}

.facet-body-container {
  display: none;
  margin-bottom: $theme-base-padding;
}

.facet-group {
  display: flex;
  flex: 5;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.facet-group-label {
  color: $gray;
  display: flex;
  font-style: italic;
  padding: $theme-base-padding;
}

.facet-label {
  display: flex;
  padding: $theme-base-padding;

  &.active {
    border-bottom: 1vw solid $project-teal;
    font-weight: 700;
  }
}

.facet-toolbar {
  align-items: baseline;
  border: .0662rem solid $input-border;
  border-top: 0;
  display: flex;
  flex-flow: row nowrap;
  font-size: $font-size-sm;

  .all {
    flex: 1;
  }
}

.genericon-search {
  font-size: $font-size-lg;
  font-weight: bold;
}

.result {
  border-bottom: .0662rem solid $input-border;
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: $theme-base-padding-y;
  padding-bottom: $theme-base-padding-y;
  padding-top: $theme-base-padding-y;
}

.result:last-child {
  margin-bottom: $theme-padding-lg;
}

.result-body {
  display: flex;
  flex-flow: column;
  margin-left: $theme-base-padding-x;

  h2 {
    font-size: $font-size-h5;
    margin-bottom: ($spacer / 8);
  }
}

.result-cap {
  display: flex;
  flex: 0 0 4.062rem;
}

.result-subhead {
  color: $gray;
}

.search-button {
  @include button-outline-variant($project-teal);
  display: none;
  width: 100%;
}

.search-facets {
  margin-bottom: $theme-base-padding;
}

.search-results {
  display: flex;
  flex-flow: column;
}

.site-search-form {
  @extend .modal-body;
  padding: 0;

  form {
    display: flex;
    flex-flow: row nowrap;

    input {
      min-height: 1.999rem;
    }

    .form-group {
      display: flex;
      flex-basis: 18rem;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
    }

    button {
      display: flex;
      flex-grow: 0;
    }
  }
}
