// scss-lint:disable PlaceholderInExtend

.facet {
  background-color: project-color(gumbo, dark);
  display: none;
  flex-flow: column;
  width: 100%;

  &.active {
    display: flex;
  }
}

.facet-alert-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.facet-alert {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  margin: 1px;
  padding: ($theme-base-padding / 2);

  &.decades {
    background-color: project-color(bittersweet);
    color: $gray-lightest;
  }

  &.locations {
    background-color: project-color(loblolly, dark);
    color: project-color(loblolly, light);
  }

  &.recipients {
    background-color: project-color(colonial, dark);
    color: project-color(tiber);
  }
}

.facet-alert-type {
  display: none;
}

.facet-alert-name {
  display: flex;
  padding-left: ($theme-base-padding / 2);
  padding-right: ($theme-base-padding / 2);
}

.facet-alert-control {
  @include custom-close();
  display: flex;
  height: 1.414rem;
  width: 1.414rem;
}

.facet-body-container {
  border: 0;
  display: none;
  transform: translate(0, 0);

  &.drawer-open {
    display: flex;
    flex-flow: column;
    padding-bottom: $theme-base-padding-y;
    // Nudge up just a smidge to overlap the pesky border
    // so it looks like a seamless drawer
    transform: translate(0, -1px);
  }
}

.facet-card {
  background-color: $gray-lighter;
  display: none;

  &.active {
    display: flex;
    flex: 1 0 16rem;
    flex-flow: column;
  }
}

.facet-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  order: 3;
  padding: $theme-base-padding;

  .drawer-toggle {
    @include custom-close();
  }

  .view-toggle {
    color: $navbar-dark-color;
    display: flex;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }
}

.facet-group {
  display: flex;
  flex: 5;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.facet-group-label {
  color: $gray;
  display: flex;
  font-style: italic;
  padding: $theme-base-padding;
}

.facet-label {
  display: flex;
  padding: $theme-base-padding;

  &.active {
    border-bottom: ($theme-base-padding / 2) solid project-color(gumbo, dark);
    font-weight: 700;
  }
}

.facet-list {
  display: none;
  list-style: none;
  margin: 0;

  &.active {
    display: flex;
    flex-flow: column;
    margin-left: $theme-padding-lg;
  }
}

.facet-list-item {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  padding-bottom: $theme-padding-lg;
  padding-left: $theme-base-padding-x;

  .c-indicator {
    background-color: $gray-lightest;
  }

  label {
    color: $gray-lightest;
  }
}

.facet-list-item:first-child {
  padding-top: ($theme-base-padding-y * 2);
}

.facet-toolbar {
  align-items: baseline;
  border: .0662rem solid $input-border;
  border-top: 0;
  display: flex;
  flex-flow: row nowrap;
  font-size: $font-size-sm;
  margin-bottom: $theme-base-padding;

  &.drawer-open {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .all {
    flex: 1;
  }
}

.genericon-search {
  font-size: $font-size-lg;
  font-weight: bold;
}

.result {
  border-bottom: .0662rem solid $input-border;
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: $theme-base-padding-y;
  padding-bottom: $theme-base-padding-y;
  padding-top: $theme-base-padding-y;
}

.result:last-child {
  margin-bottom: $theme-padding-lg;
}

.result-body {
  display: flex;
  flex-flow: column;
  margin-left: $theme-base-padding-x;

  h2 {
    font-size: $font-size-h5;
    margin-bottom: ($spacer / 8);
  }
}

.result-cap {
  display: flex;
  flex: 0 0 4.062rem;
}

.result-subhead {
  color: $gray;
}

.search-button {
  @include button-outline-variant(project-color(gumbo));
  display: none;
  width: 100%;
}

.search-facets {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  margin-bottom: $theme-base-padding;
}

.search-results {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;

  &.visible:after {
    display: flex;
  }
}

.search-results:after {
  color: $gray-light;
  content: 'No Results';
  display: none;
  margin: auto;
  white-space: pre;
}

.site-search-form {
  @extend .modal-body;
  display: flex;
  flex: 1;
  padding: 0;

  form {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;

    input {
      display: flex;
      flex: 1 1 auto;
      min-height: 1.999rem;
    }

    .form-group {
      display: flex;
      flex-basis: 18rem;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
    }

    button {
      display: flex;
      flex: 0 1 auto;
    }
  }
}

.search-total-count {
  color: $gray-light;
  display: none;
  margin: auto;
}
