@charset 'UTF-8';

// @import '../../bower_components/bootstrap/scss/variables';
@import '../../bower_components/bootstrap/scss/mixins';
@import 'theme_variables';

// // Reset and dependencies
@import '../../bower_components/bootstrap/scss/normalize';
@import '../../bower_components/bootstrap/scss/print';

// Core CSS
@import '../../bower_components/bootstrap/scss/reboot';
@import '../../bower_components/bootstrap/scss/type';
@import '../../bower_components/bootstrap/scss/images';
@import '../../bower_components/bootstrap/scss/code';
@import '../../bower_components/bootstrap/scss/grid';
@import '../../bower_components/bootstrap/scss/tables';
@import '../../bower_components/bootstrap/scss/forms';
@import '../../bower_components/bootstrap/scss/buttons';

// // Components
@import '../../bower_components/bootstrap/scss/animation';
@import '../../bower_components/bootstrap/scss/dropdown';
@import '../../bower_components/bootstrap/scss/button-group';
@import '../../bower_components/bootstrap/scss/input-group';
@import '../../bower_components/bootstrap/scss/custom-forms';
@import '../../bower_components/bootstrap/scss/nav';
@import '../../bower_components/bootstrap/scss/navbar';
@import '../../bower_components/bootstrap/scss/card';
@import '../../bower_components/bootstrap/scss/breadcrumb';
@import '../../bower_components/bootstrap/scss/pagination';
@import '../../bower_components/bootstrap/scss/pager';
@import '../../bower_components/bootstrap/scss/labels';
@import '../../bower_components/bootstrap/scss/jumbotron';
@import '../../bower_components/bootstrap/scss/alert';
@import '../../bower_components/bootstrap/scss/progress';
@import '../../bower_components/bootstrap/scss/media';
@import '../../bower_components/bootstrap/scss/list-group';
@import '../../bower_components/bootstrap/scss/responsive-embed';
@import '../../bower_components/bootstrap/scss/close';

// Components w/ JavaScript
@import '../../bower_components/bootstrap/scss/modal';
@import '../../bower_components/bootstrap/scss/tooltip';
@import '../../bower_components/bootstrap/scss/popover';
@import '../../bower_components/bootstrap/scss/carousel';

// Utility classes
@import '../../bower_components/bootstrap/scss/utilities';
@import '../../bower_components/bootstrap/scss/utilities-spacing';
@import '../../bower_components/bootstrap/scss/utilities-responsive';

article {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.archive-header-container {
  @include make-col();
  margin-bottom: 3.24rem;
  padding-left: 3.98rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(12);
  }
}

.archive-title {
  font-size: 3.9rem;
}

body:before {
  content: none;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.browse-options {
  @include make-row();

  padding-bottom: ($spacer * 3);
  padding-left: 3.98rem;
  padding-right: 3.98rem;
  padding-top: ($spacer * 1.5);

  :nth-child(1) > h2 {
    text-align: center;
  }

  :nth-child(2) > h2 {
    text-align: center;
  }

  :nth-child(3) > h2 {
    text-align: center;
  }
}

.browse-teaser {
  @include make-col();
  padding-top: 1rem;

  h2>small {
    color: $gray-light;
  }

  h2>small::after {
    content: '\A';
    white-space: pre;
  }

  p {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    text-align: justify;
  }

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(4);
  }
}

.content-area {
  @include make-container();
  flex: 1;
}

.current-menu-item a {
  @include plain-hover-focus {
    background-color: $component-active-bg;
    color: $component-active-color;
    cursor: default;
  }
}

.entry-content h3 {
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
}

.entry-content .more-link:after {
  content: none;
}

.error-404 {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(12);
  }
}

footer {
  @include make-row();
  background-color: $project-darkest;
  height: 12rem;
}

.form-group {
  padding-left: (($spacer * 6) + ($grid-gutter-width / 2));
  padding-right: ($grid-gutter-width / 2);
  width: 50vw;
}

header {
  @include make-container();
  margin-left: 0;
  margin-right: 0;
}

.hentry {
  background-color: inherit;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

// Special snowflake for front page
.hero-area {
  @include clearfix();
  background-image: url('./img/porter_demo_cover-desktop.png');
  border-bottom: 2.5px solid hsl(187, 43%, 16%);
  display: flex;
  height: 90vh;
  width: 100vw;
}

hr {
  background: currentColor;
  width: 22em;
}

.intro {
  align-items: center;
  height: 9rem;
  justify-content: center;
  margin: auto;
  padding-top: .75rem;
  width: 40vw;
}

.main-action-button {
  @include button-outline-variant($btn-primary-bg);
  @include button-size($btn-padding-y-lg,
                       $btn-padding-x-lg,
                       $font-size-lg,
                       $line-height-lg,
                       $btn-border-radius-lg);
  @include center-block;
  height: 3.25rem;
  width: 9rem;
}

.menu-item {
  display: inline-block;

  a {
    @include border-radius($nav-pills-border-radius);

    display: block;
    padding: $nav-link-padding;

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.nav-inline {
  .menu-item + .menu-item {
    margin-left: 1rem;
  }
}

.project-about-teaser {
  @include make-row();

  padding-bottom: ($spacer * 3);
  padding-left: 3.98rem;
  padding-right: 3.98rem;
  padding-top: ($spacer * 1.5);
}

.project-about-teaser:focus {
  outline: none;
}

.search-teaser {
  margin: auto;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 60vw;

  button {
    height: 2.625rem;
  }
}

.site-call-to-action {
  @include make-col();
  padding-bottom: ($spacer * 3);
  padding-top: ($spacer * 1.5);
}

.site-hero-title {
  background: hsla(0, 0%, 100%, .66);
  background-clip: padding-box;
  border: 10px solid hsla(0, 0%, 100%, .33);
  border-left: 0;
  border-right: 20px solid hsla(0, 0%, 100%, .33);
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  padding-bottom: 1.5rem;
  padding-left: (($spacer * 3) + ($grid-gutter-width / 2));
  padding-right: (($spacer * 3) + ($grid-gutter-width / 2));
  padding-top: 1rem;
}

.site-main {
  @include make-row();
}

.site-main-title {
  color: hsl(187, 43%, 16%);
  font-size: 6rem;
  font-weight: 500;
  line-height: 5.5rem;
  margin-top: 0;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .9);
  text-transform: uppercase;

  :nth-child(1)::after,
  :nth-child(2)::after {
    content: '\A';
    white-space: pre;
  }

  :nth-child(2) {
    padding-left: 3rem;
  }
}

.site-logo {
  @include make-col();
  padding-left: 3.98rem;
  padding-top: 3rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }

  a {
    @include border-radius($nav-pills-border-radius);

    display: block;
    padding: $nav-link-padding;
  }
}

.site-menu {
  @include make-row();
}

.site-nav {
  @include make-col();
  padding-top: 3rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.site-sub-title {
  color: hsl(187, 43%, 16%);
  font-family: "bodoni-urw", sans-serif;
  font-size: 4rem;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .9);
  text-transform: uppercase;
}

.wf-loading {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  visibility: visible;
}
