@charset 'UTF-8';

// @import '../../bower_components/bootstrap/scss/variables';
@import '../../bower_components/bootstrap/scss/mixins';
@import 'theme_variables';

// // Reset and dependencies
@import '../../bower_components/bootstrap/scss/normalize';
@import '../../bower_components/bootstrap/scss/print';

// Core CSS
@import '../../bower_components/bootstrap/scss/reboot';
@import '../../bower_components/bootstrap/scss/type';
@import '../../bower_components/bootstrap/scss/images';
@import '../../bower_components/bootstrap/scss/code';
@import '../../bower_components/bootstrap/scss/grid';
@import '../../bower_components/bootstrap/scss/tables';
@import '../../bower_components/bootstrap/scss/forms';
@import '../../bower_components/bootstrap/scss/buttons';

// // Components
@import '../../bower_components/bootstrap/scss/animation';
@import '../../bower_components/bootstrap/scss/dropdown';
@import '../../bower_components/bootstrap/scss/button-group';
@import '../../bower_components/bootstrap/scss/input-group';
@import '../../bower_components/bootstrap/scss/custom-forms';
@import '../../bower_components/bootstrap/scss/nav';
@import '../../bower_components/bootstrap/scss/navbar';
@import '../../bower_components/bootstrap/scss/card';
@import '../../bower_components/bootstrap/scss/breadcrumb';
@import '../../bower_components/bootstrap/scss/pagination';
@import '../../bower_components/bootstrap/scss/pager';
@import '../../bower_components/bootstrap/scss/labels';
@import '../../bower_components/bootstrap/scss/jumbotron';
@import '../../bower_components/bootstrap/scss/alert';
@import '../../bower_components/bootstrap/scss/progress';
@import '../../bower_components/bootstrap/scss/media';
@import '../../bower_components/bootstrap/scss/list-group';
@import '../../bower_components/bootstrap/scss/responsive-embed';
@import '../../bower_components/bootstrap/scss/close';

// Components w/ JavaScript
@import '../../bower_components/bootstrap/scss/modal';
@import '../../bower_components/bootstrap/scss/tooltip';
@import '../../bower_components/bootstrap/scss/popover';
@import '../../bower_components/bootstrap/scss/carousel';

// Utility classes
@import '../../bower_components/bootstrap/scss/utilities';
@import '../../bower_components/bootstrap/scss/utilities-spacing';
@import '../../bower_components/bootstrap/scss/utilities-responsive';

article {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.archive-header-container {
  @include make-col();
  margin-bottom: 3.24rem;
  padding-left: 3.98rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(12);
  }
}

.archive-title {
  font-size: 3.9rem;
}

body:before {
  content: none;
}

.content-area {
  @include make-container();
}

.current-menu-item a {
  @include plain-hover-focus {
    background-color: $component-active-bg;
    color: $component-active-color;
    cursor: default;
  }
}

.entry-content h3 {
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
}

.hentry {
  background-color: inherit;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.main-action-button {
  @include button-outline-variant($btn-primary-bg);
  @include button-size($btn-padding-y-lg,
                       $btn-padding-x-lg,
                       $font-size-lg,
                       $line-height-lg,
                       $btn-border-radius-lg);
}

.menu-item {
  display: inline-block;

  a {
    @include border-radius($nav-pills-border-radius);

    display: block;
    padding: $nav-link-padding;

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.entry-content .more-link:after {
  content: none;
}

.nav-inline {
  .menu-item + .menu-item {
    margin-left: 1rem;
  }
}

.secondary {
  @include make-container();
}

.site-call-to-action {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(6);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.site-main {
  @include make-row();
}

.site-main-title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 7rem;
  margin-top: 0;
  text-transform: uppercase;

  .word2 {
    margin-left: 5rem;
  }

  .word3 {
    margin-left: 2.5rem;
  }
}

.site-logo {
  @include make-col();
  padding-left: 3.98rem;
  padding-top: 3rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }

  a {
    @include border-radius($nav-pills-border-radius);

    display: block;
    padding: $nav-link-padding;
  }
}

.site-menu {
  @include make-row();
}

.site-nav {
  @include make-col();
  padding-top: 3rem;

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.site-sub-title {
  font-family: "bodoni-urw", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;

  .word1 {
    margin-left: 2.5rem;
    margin-top: -2.5rem;
  }
}

.site-title-container {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 62em) {
    @include make-col-span(6);
  }
}

.wf-loading {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  visibility: visible;
}
